:root {
    /* These variables exist so you can make quick and simple style changes without much CSS knowledge */

    /* applies to all areas */
    --font-family: chilanka;
    --font-size: 15px;
    --line-height: 1.3em;
    --background: #47c78b;
    --bg-color: #afe9ad;
    --font-color: rgb(46, 53, 52);
    --link-color: #22506A;
    --link-text-decoration: none;

    /* main content (between sidebars) */
    --content-padding: 25px;

    /* header */
    --header-height: 200px;
    --header-background: url('https://i3.ytimg.com/vi/xwpj9UANXo4/maxresdefault.jpg');
    --header-margin-bottom: 0px;    

    /* sidebar */
    --sidebar-margin: 10px;
    --sidebar-width: 200px;
    --sidebar-padding: 15px;

    /* footer */
    --footer-height: 50px;

    /* navbar */
    --navitems-alignment: center;
    --space-between-navitems: 20px;
    --navbar-margin-bottom: 10px;

    /* container */
    --container-width: 800px;

    /* controls the gap between the content and the footer */
    --row-gap: 5px;

    /* To add scrollbars to your sidebars, just make the height a px value and change overflow to 'auto' */

    --sidebar-height: 100%;
    --sidebar-overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--font-color);
}

body a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: var(--link-text-decoration);
}

#main-container {
    max-width: var(--container-width);
    margin: 0 auto;
}

.flex {
    display: flex;
    margin-bottom: var(--row-gap);
}

.content-wrap {
    margin-top: var(--content-margin-top);
}

.container {
    width: 60%;
    margin-bottom: var(--row-gap);
    background-color: var(--bg-color);
    flex-grow: 1;
    padding: var(--content-padding);
    padding-top: var(--sidebar-padding);
}

#left-sidebar {
    width: var(--sidebar-width);
    margin-right: var(--sidebar-margin);
    margin-bottom: var(--row-gap);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
    background-color: var(--bg-color);
}

#footer {
    height: var(--footer-height);
    text-align: center;
    color: var(--font-color);
    background-color: var(--bg-color);
}

#header-full {
    display: none;
    height: var(--header-height);
    margin-bottom: var(--header-margin-bottom);
    background-image: var(--header-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

#navbar-contained {
    margin-bottom: var(--row-gap)
}

@keyframes float {
    from {width: 128px; height: 100px;}
    to {width: 144px; height: 116px;}
}

#coconut {
    width: 128px;
    height: 100px;
    display: block;
    margin: 0 auto;
    animation: float 2s infinite alternate;
}

.meme {
    max-width: 49%;
    max-height: 49%;
}

.nav {
    margin-left: 0;
    text-align: var(--navitems-alignment);
    margin-top: 0;
    margin-bottom: var(--navbar-margin-bottom);
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--bg-color);
}

.nav li {
    display: inline-block;
    padding-right: var(--space-between-navitems);
}

.sidebar-wrapper {
    padding: var(--sidebar-padding);
    height: var(--sidebar-height);
    overflow: var(--sidebar-overflow);
}

.footer-wrapper {
    padding: 5px;
}

/* To keep your site RESPONSIVE, make sure this variable matches the width for --container-width UNLESS --container-width is 100% - if it's 100%, you'll need to manually input a breakpoint. */
@media only screen and (max-width: 800px) {
    .flex {
        flex-wrap: wrap;
    }

    #left-sidebar {
        width: 100%;
        display: block;
        order: 2;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #right-sidebar {
        width: 100%;
        display: block;
        order: 3;
        margin-left: 0;
    }

    #content-container {
        width: 100%;
        display: block;
        order: 1;
        margin-bottom: 10px;
    }
}